<footer class="bg-white border-top">

    <div class="container mt-3" style="max-width: 800px;">

        <h5>{{ site.title }}</h5>

        <div class="row">
            <div class="col">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla metus et dui lacinia,
                    vitae pharetra ipsum vehicula. Cras sed nulla volutpat, sodales quam vitae, volutpat ligula.
                </p>

            </div>

            <div class="col">
                <p class="text-end">
                    <img src="/assets/images/inria.png" height="50px">
                </p>
                <p class="text-end">
                    <img src="/assets/images/ens.jpg" height="50px">
                </p>
            </div>
        </div>

        <p class="text-center">Copyright</p>

    </div>

</footer>
