---
---
@charset "utf-8";

// https://fonts.google.com/specimen/Nuosu+SIL
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
$font-family-sans-serif: "Inter" sans-serif;
$font-family-base: $font-family-sans-serif !default;
$spacer: 1.1rem;

$primary: rgb(230, 51, 25);

@import "bootstrap";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    text-align: justify;
}
