<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    <link rel="stylesheet" href="{{'/assets/css/main.css'}}">
    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
  </head>

  <body>
      <div class="header container-fluid mb-5 px-0">
        {%- include header.html -%}
      </div>

      <div class="container" style="flex: 1;">
        {{ content }}
      </div>

      <div class="footer container-fluid mt-5 px-0">
        {%- include footer.html -%}
      </div>
  </body>

</html>
